<app-loading-screen *ngIf="isLoading"></app-loading-screen>
<div *ngIf="!isLoading" class="container">
  <div>
    <a class="home-page" routerLink="">
      <app-logo *ngIf="!isLoading" class="logo"></app-logo>
    </a>
    <div class="container-2">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        <input
          type="email"
          name="email"
          placeholder="Email"
          formControlName="email"
          required
        />
        <input
          type="password"
          name="password"
          formControlName="password"
          placeholder="Password"
          required
        />
        <button [disabled]="!formGroup.valid" type="submit">Sign In</button>
      </form>
    </div>

    <span class="info">
      <a routerLink="sign-up"> Don't you have an account? </a>
    </span>
  </div>
  <img
    class="thyroid-image"
    src="../../../assets/doctors_hands_checking_patients_thyroid.jpg"
    alt="doctors_hands_checking_patients_thyroid"
  />
</div>
