<div class="container">
  <div>
    <app-logo></app-logo>
    <div class="container-2">
      <form>
        <input type="email" name="email" placeholder="Email" required />
        <input
          type="password"
          name="password"
          placeholder="Password"
          required
        />
        <button type="submit">Sign In</button>
      </form>
    </div>
    <span class="info"> Don't you have an account?</span>
  </div>
  <img
    class="thyroid-image"
    src="../../../assets/doctors_hands_checking_patients_thyroid.jpg"
    alt="doctors_hands_checking_patients_thyroid"
  />
</div>
