<div class="container">
  <a routerLink="/home" class="back" routerLinkActive="router-link-active"
    >Back</a
  >
</div>
<h2>
  Patient management involves the coordinated care and administration of
  healthcare services for individuals within a healthcare system. It encompasses
  various aspects, including patient registration, appointment scheduling,
  medical records management, treatment planning, prescription management, and
  billing.
</h2>
<h3>
  To begin start by Creating ,Displaying ,Deleting and updating the patient
</h3>
<app-patient-details></app-patient-details>
<div class="container-patient">
  <div class="container">
    <a
      routerLink="add-patient"
      class="add-patient"
      routerLinkActive="patient-link"
      >Add patient</a
    >
  </div>
</div>
<form [formGroup]="applyForm" (submit)="deletePatient()">
  <input type="number" formControlName="id" />
  <div class="container">
    <a class="delete-patient" type="submit">Delete Patient</a>
  </div>
</form>
