<a routerLink="/home" routerLinkActive="router-link-active">back</a>
<h2>
  Patient management involves the coordinated care and administration of
  healthcare services for individuals within a healthcare system. It encompasses
  various aspects, including patient registration, appointment scheduling,
  medical records management, treatment planning, prescription management, and
  billing.
</h2>
<h3>
  To begin start by Creating ,Displaying ,Deleting and updating the patient
</h3>
<a routerLink="add-patient" routerLinkActive="add-patient">add patient</a>
