/* Anchor Links */
a {
  padding: 15px;
  text-decoration: none;
}

.back-link {
  background-color: #050a30;
  padding: 8px 12px;
  border-radius: 5px;
}

/* Headings */
h2.patient-management-heading {
  color: white;
  font-size: 24px;
  margin-bottom: 10px;
}

h3.begin-instructions {
  color: white;
  font-size: 18px;
  margin-bottom: 20px;
}

.delete-patient,
.back,
.add-patient,
.submit {
  cursor: pointer;
  padding: 12px;
  background: #050a30;
  color: #fff;
}
.container {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 8px;
  border-radius: 15px;
}

.container-patient {
  display: flex;
  gap: 12px;
}
form input[type="text"],
form input[type="number"],
form select,
form input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #050a30; /* Dark blue border */
  border-radius: 5px;
  background-color: #f9f9f9; /* Light gray background */
  transition: border-color 0.3s ease-in-out; /* Smooth border transition */
}
