<div class="container">
  <a
    routerLink="/home"
    class="back container"
    routerLinkActive="router-link-active"
    >Back</a
  >
</div>
<h2>
  Patient management involves the coordinated care and administration of
  healthcare services for individuals within a healthcare system. It encompasses
  various aspects, including patient registration, appointment scheduling,
  medical records management, treatment planning, prescription management, and
  billing.
</h2>
<h3>
  To begin start by Creating ,Displaying ,Deleting and updating the patient
</h3>
<app-patient-details></app-patient-details>
<div class="container-patient">
  <div class="container">
    <a
      routerLink="add-patient"
      class="add-patient container"
      routerLinkActive="patient-link"
      >Add patient</a
    >
  </div>
  <div class="container">
    <a class="delete-patient container" (click)="setShow()" type="submit"
      >Delete Patient</a
    >
  </div>
</div>
<form [formGroup]="applyForm" (submit)="deletePatient()">
  <div *ngIf="show">
    <input input type="number" formControlName="id" />
    <br />
    <button type="submit" class="container submit">Submit</button>
  </div>
</form>
