<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
/>
<style>
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
    cursor: pointer;
  }
</style>
<div class="doctor-list">
  <table class="table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Speciality</th>
        <th>Grade</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let doctor of doctors">
        <td>{{ doctor.prenom }}</td>
        <td>{{ doctor.nom }}</td>
        <td><app-specialite [id]="doctor.idSpecialite"></app-specialite></td>
        <td>{{ doctor.grade }}</td>
        <td>
          <span class="material-symbols-outlined">
            <a class="edit" routerLink="{{ doctor.id }}/edit-doctor"> edit</a>
          </span>
          <span
            class="material-symbols-outlined"
            (click)="deleteDoctor(doctor.id)"
          >
            delete
          </span>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-dark">
    <a routerLink="/add-doctor">Add Doctor</a>
  </button>
</div>
