.exam-list {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  text-align: center;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
a {
  text-decoration: none;
  color: #fff;
}
th {
  background-color: #f2f2f2;
}
