<button cButton color="dark" type="submit" class="mg-10">
  <a routerLink="/{{ idPatient }}/patient-dashboard/add-exam">+</a>
</button>
<div class="exam-list">
  <table class="table">
    <thead>
      <tr>
        <th>Pathology ID</th>
        <th>Doctor</th>
        <th>Date of Exam</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let exam of Examens">
        <td>{{ exam.idPathologie }}</td>
        <td>
          <app-related-doctor [idMedecin]="exam.idMedecin"></app-related-doctor>
        </td>
        <td>{{ exam.date_Examen | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
