<button cButton color="dark" type="submit" class="mg-10">
  <a routerLink="/{{ idPatient }}/patient-dashboard/add-exam">+</a>
</button>
<div class="exam-list">
  <table class="table">
    <thead>
      <tr>
        <th>Pathologie</th>
        <th>Medecin</th>
        <th>Date of Exam</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let examen of Examens">
        <td>
          <app-pathologie [id]="examen.idPathologie"></app-pathologie>
        </td>
        <td>
          <app-related-doctor [id]="examen.idMedecin"></app-related-doctor>
        </td>
        <td>{{ examen.date_Examen | date }}</td>
      </tr>
    </tbody>
  </table>
</div>
