<form [formGroup]="applyForm" (submit)="submitApplication()">
  <div>
    <label for="id">id</label>
    <input
      type="number"
      name="id"
      id="id"
      placeholder="id"
      formControlName="id"
    />
  </div>
  <div>
    <label for="code">code</label>
    <input type="text" placeholder="code" formControlName="code" />
  </div>
  <div>
    <label for="nom">nom</label>
    <input type="text" placeholder="nom" formControlName="nom" />
  </div>
  <label for="sexe">sexe</label>
  <select formControlName="sexe">
    <option formControlName="id">male</option>
    >
    <option>Female</option>
  </select>
  <div>
    <label for="address">address</label>
    <input type="text" placeholder="address" formControlName="adresse" />
  </div>
  <div>
    <label for="prenom">prenom</label>
    <input type="text" placeholder="prenom" formControlName="prenom" />
  </div>
  <div>
    <label for="profession">profession</label>
    <input
      type="text"
      id="profession"
      placeholder="profession"
      formControlName="profession"
    />
  </div>
  <div>
    <label for="gs">gs</label>
    <input type="text" id="gs" placeholder="gs" formControlName="gs" />
  </div>
  <div>
    <label for="rh">rh</label>
    <input type="number" id="rh" placeholder="rh" formControlName="rh" />
  </div>
  <div>
    <label for="race">race</label>
    <input type="text" id="race" placeholder="race" formControlName="race" />
  </div>
  <div>
    <label for="poids"> poids </label>
    <input
      type="number"
      id="poids"
      placeholder="poids"
      formControlName="poids"
    />
  </div>

  <div>
    <label for="  taille"> taille </label>
    <input
      type="number"
      id="  taille"
      placeholder="taille"
      formControlName="taille"
    />
  </div>
  <div>
    <label for="  statutMatrimonial"> statutMatrimonial </label>
    <input
      type="text"
      id="statutMatrimonial"
      placeholder="statutMatrimonial"
      formControlName="statutMatrimonial"
    />
  </div>

  <div>
    <label for="  date_Naissance"> date_Naissance </label>
    <input
      type="date"
      id="date_Naissance"
      placeholder="date_Naissance"
      formControlName="date_Naissance"
    />
  </div>
  <button type="submit" class="container add-patient">submit</button>
</form>
