/*
font-family: 'Montserrat', sans-serif
font-size: 20,24

*/
.container-loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.larger {
  width: 150px;
  height: 150px;
}
.title {
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
}
