<div class="exam-form">
  <h2>Add Exam:</h2>
  <form formGroup="examForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="idPatient">Patient ID:</label>
      <input
        type="number"
        class="form-control"
        formControlName="idPatient"
        required
      />
    </div>
    <div class="form-group">
      <label for="idPathologie">Pathology ID:</label>
      <input
        type="number"
        class="form-control"
        formControlName="idPathologie"
        required
      />
    </div>
    <div class="form-group">
      <label for="idMedecin">Doctor ID:</label>
      <input
        type="number"
        class="form-control"
        formControlName="idMedecin"
        required
      />
    </div>
    <div class="form-group">
      <label for="date_Examen">Date of Exam:</label>
      <input
        type="date"
        class="form-control"
        formControlName="date_Examen"
        required
      />
    </div>
    <button type="submit" class="btn btn-dark" [disabled]="examForm.invalid">
      Create Exam
    </button>
  </form>
</div>
