<div>
  <app-loading-screen *ngIf="isLoading"></app-loading-screen>
  <app-logo *ngIf="!isLoading" class="logo"></app-logo>
</div>
<div class="container-about" *ngIf="!isLoading">
  <div class="content">
    <h1 class="title">About Us</h1>
    <p class="content-text">
      {{ content }}
      <b>Join us as we navigate this journey together.</b>
    </p>
    <div class="buttons">
      <button class="btn">Learn more</button>
      <a routerLink="sign-in">
        <button class="btn sign-in">Sign in</button>
      </a>
    </div>
  </div>
  <img
    class="cover image-on-right"
    src="../../../assets/doctor.jpg"
    alt="doctor"
  />
</div>
