<div>
  <app-logo class="logo"></app-logo>
</div>
<app-loading-screen></app-loading-screen>
<div class="container-about">
  <div class="content">
    <h1 class="title">About Us</h1>
    <p class="content-text">
      {{ content }}
      <b>Join us as we navigate this journey together.</b>
    </p>
    <div class="buttons">
      <button class="btn">Learn more</button>
      <button class="btn sign-in">Sign in</button>
    </div>
  </div>
  <img
    class="cover image-on-right"
    src="../../../assets/doctor.jpg"
    alt="doctor"
  />
</div>
