<div>
  <app-logo class="logo"></app-logo>
</div>
<div class="container-about">
  <div class="content">
    <h1 class="title">About Us</h1>
    <p class="content-text">
      Medical Clinics is your dedicated ally in the journey through thyroid
      conditions. Our platform provides comprehensive support and resources
      tailored specifically for individuals facing medical challenges related to
      thyroid health. From expert insights to community-driven assistance, we're
      committed to empowering you with the knowledge and tools needed to thrive
      despite your condition. towards optimal health and vitality.
      <b>Join us as we navigate this journey together.</b>
    </p>
    <div class="buttons">
      <button class="btn">Learn more</button>
      <button class="btn sign-in">Sign in</button>
    </div>
  </div>
  <img
    class="cover image-on-right"
    src="../../../assets/doctor.jpg"
    alt="doctor"
  />
</div>
