<form>
  <div>
    <label for="id">id</label>
    <input
      [[(ngModel)]="service.formData.Id"
      ]
      #id
      name="Id"
      type="number"
      name="id"
      id="id"
      placeholder="id"
    />
  </div>
  <div>
    <label for="code">code</label>
    <input type="text" placeholder="code" />
  </div>
  <div>
    <label for="nom">nom</label>
    <input type="text" placeholder="nom" />
  </div>
  <label for="sexe">sexe</label>
  <select>
    <option>male</option>
    >
    <option>Female</option>
  </select>
  <div>
    <label for="address">address</label>
    <input type="text" placeholder="address" />
  </div>
  <div>
    <label for="prenom">prenom</label>
    <input type="text" placeholder="prenom" />
  </div>
  <div>
    <label for="profession">profession</label>
    <input type="text" id="profession" placeholder="code" />
  </div>
  <div>
    <label for="gs">gs</label>
    <input type="text" id="gs" placeholder="gs" />
  </div>
  <div>
    <label for="rh">rh</label>
    <input type="text" id="rh" placeholder="rh" />
  </div>
  <div>
    <label for="race">race</label>
    <input type="text" id="race" placeholder="race" />
  </div>
  <div>
    <label for="race"> poids </label>
    <input type="text" id="poids" placeholder="poids" />
  </div>

  <div>
    <label for="  taille"> taille </label>
    <input type="number" id="  taille" placeholder="taille" />
  </div>
  <div>
    <label for="  statutMatrimonial"> statutMatrimonial </label>
    <input type="text" id="statutMatrimonial" placeholder="statutMatrimonial" />
  </div>

  <div>
    <label for="  date_Naissance"> date_Naissance </label>
    <input type="date" id="date_Naissance" placeholder="date_Naissance" />
  </div>
  <button type="submit">submit</button>
</form>
